.android
.atom
.bash_history
.bash_logout
.cache
.cargo
.config
.conky
.conkyrc.bk
conky-x86_64.AppImage
csdevkit
.cups
Desktop
.docker
Documents
.dotnet
Downloads
.dropbox
Dropbox
.dropbox-dist
.dropbox-dist.backup
.extensions
Firefox_wallpaper.png
.fleet
.fonts
git
.gitconfig
.gnome
.gnupg
.gphoto
.icons
icons-in-terminal
image1103.jpg
.ipython
.java
.lemminx
.lesshst
Library
.local
.m2
.mongodb
.mono
.mozilla
Music
.npm
.nuget
.oh-my-zsh
.p10k.zsh
.password-store
Pictures
.pki
Postman
.profile
Public
.python_history
.redhat
.rednotebook
.rustup
.scripts
.ServiceHub
snap
.ssh
.steam
.steampath
.steampid
temp
.templateengine
Templates
.themes
.thunderbird
.var
Videos
.vim
.viminfo
.vscode
.vscode-oss
.vscode-react-native
.wget-hsts
.zcompdump*
.zoom
.zsh_history