include ~/.nanorc_custom/conky.nanorc
include ~/.nanorc_custom/csharp.nanorc
include ~/.nanorc_custom/css.nanorc
include ~/.nanorc_custom/csv.nanorc
include ~/.nanorc_custom/dockerfile.nanorc
include ~/.nanorc_custom/dotnetenv.nanorc
include ~/.nanorc_custom/git.nanorc
include ~/.nanorc_custom/html.nanorc
include ~/.nanorc_custom/java.nanorc
include ~/.nanorc_custom/javascript.nanorc
include ~/.nanorc_custom/json.nanorc
include ~/.nanorc_custom/lua.nanorc
include ~/.nanorc_custom/markdown.nanorc
include ~/.nanorc_custom/python.nanorc
include ~/.nanorc_custom/sh.nanorc
include ~/.nanorc_custom/sql.nanorc
include ~/.nanorc_custom/toml.nanorc
include ~/.nanorc_custom/xml.nanorc
include ~/.nanorc_custom/yaml.nanorc
include ~/.nanorc_custom/zsh.nanorc
